body
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size: 14px
    background: #fff url('../img/bg.jpg')
    color: #333
    padding-top: 200px

h1
    font-size: 3em
pre
    display: block
    padding: 9.5px
    margin: 0 0 10px
    font-size: 13px
    line-height: 1.42857143
    color: #333
    word-break: break-all
    word-wrap: break-word
    background-color: #f5f5f5
    border: 1px solid #ccc
    border-radius: 4px

    & > .hljs
        background: transparent
