.btn
    display: inline-block
    padding: 6px 12px
    margin-bottom: 0
    font-weight: 400
    text-align: center
    white-space: nowrap
    vertical-align: middle
    -ms-touch-action: manipulation
    touch-action: manipulation
    cursor: pointer
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    background-image: none
    border: 1px solid transparent
    border-radius: 4px
    font-size: 14px
    text-transform: uppercase

    &--primary
        color: #fff
        background-color: #337ab7
        border-color: #2e6da4

        &:active
            background-color: #286090
            border-color: #204d74
