.btn-group
    position: relative
    float: right
    display: inline-block
    min-height: 30px
    margin-top: -66px

    &__button
        margin-right: 0
        border-top-right-radius: 0
        border-bottom-right-radius: 0

    &__options
        border-top-left-radius: 0
        border-bottom-left-radius: 0
        margin-left: -5px
