.caret
    display: block
    margin-top: 6px
    padding-bottom: 5px
    width: 0
    height: 0
    border-left: 5px solid transparent
    border-right: 5px solid transparent
    border-top: 5px solid #fff
