.menu
    position: absolute
    top: 100%
    right: 0
    z-index: 1000
    min-width: 160px
    padding: 5px 0
    margin: 2px 0 0
    font-size: 14px
    text-align: left
    list-style: none
    background-color: #fff
    -webkit-background-clip: padding-box
    background-clip: padding-box
    border: 1px solid #ccc
    border: 1px solid rgba(0,0,0,.15)
    border-radius: 4px
    -webkit-box-shadow: 0 6px 12px rgba(#000,.175)
    box-shadow: 0 6px 12px rgba(#000,.175)

    &__list
        display: block
        padding: 3px 20px
        clear: both
        font-weight: 400
        color: #333
        line-height: 1.5em
        white-space: nowrap
        text-decoration: none

        &:hover
            background: #ccc

    &--hidden
        display: none
