.navbar
    position: fixed
    top: 0
    left: 0
    right: 0
    height: 74px
    width: 100%
    border-top: 7px solid #a50000
    border-bottom: 1px solid #202020
    background-color: #2c2c2c
    z-index: 1000

    &__brand
        line-height: 74px
        font-size: 2em
        color: #7a7a7a
        display: inline-block
